/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/app/*
/vendor
.env
.env.backup
.phpunit.result.cache
/resources/lang/*.json
!/resources/lang/en.json
!/resources/lang/bn.json
!/resources/lang/ar.json
!/storage/app
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/backend/uploads

yarn.lock
composer.lock
package-lock.json
