/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/app/*
/vendor
.env
.env.backup
.phpunit.result.cache
!/storage/app
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/backend/uploads

yarn.lock
composer.lock
package-lock.json
