a.brand-link img {
    height: 33px;
    width: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: .8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
}


.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.auth-logo {
    height: 100px;
    width: 100%;
}

.auth-logo img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}


.icon-thumb.post-img img {
    height: 236px !important;
    width: 340px !important;
    border-radius: 6px !important;
    object-fit: cover !important;
}

.icon-thumb.recent-post-img img {
    height: 80px !important;
    width: 112px !important;
    border-radius: 6px;
    object-fit: cover;
}

.jobcardStyle1 .icon-thumb img,
.rt-single-icon-box .icon-thumb img{
    height: 68px;
    width: 68px;
    border-radius: 6px;
    object-fit: cover;
}

.sidebar-nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 85px);
}

.sidebar-main-nav {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px !important;
}

.login-card-body {
    max-width: 343px;
    overflow: hidden;
    padding: 30px 20px;
}

.login-box {
    width: 343px;
}

.login-box .card{
    width: 343px !important;
    border-radius: 5px;
    overflow: hidden;
}


/*
========================
    Admin Panel Theme
========================
*/

:root {
    --sidebar-bg-color: #022446;
    --sidebar-txt-color: #e0e9f2;
    --top-nav-bg-color: #0a243e;
    --top-nav-txt-color: #e0e9f2;
    --main-color: #05c279;
    --accent-color: #ffc107;
    --frontend-primary-color: '#05c279';
    --frontend-secondary-color: '#ffc107';
}

/* // navbar bg color  */
.main-header.navbar.navbar-white.navbar-light {
    background-color: var(--top-nav-bg-color);
}
/* navbar text color  */
.navbar-light .navbar-nav .nav-link {
    color: var(--top-nav-txt-color);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--accent-color);
}


/* Left Sidebar bg color  */
.main-sidebar.sidebar-dark-primary {
    background-color: var(--sidebar-bg-color);
}

body.dark-mode .main-sidebar.sidebar-dark-primary {
    background-color: var(--gray-dark);
}

/* // left sidebar text color */
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link,
[class*=sidebar-dark-] .sidebar a,
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    color: var(--sidebar-txt-color);
}

.nav-sidebar > .nav-header {
    margin-left: 0.6rem;
    margin-top: 10px;
    color: var(--sidebar-txt-color);
    opacity: 0.4;
    padding-bottom: 2px;
}

.nav-pills.nav-flat .nav-link {
    border-radius: 0.25rem !important;
}

.nav-sidebar .nav-item > .nav-link {
    margin-bottom: 0 !important;
}

/* ## AdminLTE Theme Customization */
body {
    min-height: calc(100vh + 1px);
}

.content-wrapper {
    padding-bottom: 100px;
}

.setup-guide-sizing{
    max-width: 100%;
    width: 1000px;
    margin: 0 auto
}

/* ## Faq Page  */
.pointer {
    cursor: pointer !important;
}

.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    height:150px;
    width:150px;
    object-fit: cover;
}




/* ## CSS Utility classes */
.min-w-250 {
  min-width: 250px;
}

.line-height-36 {
    line-height: 36px !important;
}

.w-100-p {
    width: 100% !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.w-250{
    width: 250px !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* ## Notification Panel  */
.notification-panel {
    width:700px !important
}

/* ## Dropify text size */
.dropify-wrapper .dropify-message span p {
    font-size: 14px !important;
}
.w-250 {
    width: 250px !important;
}


/* ## Dropify  */
.dropify-wrapper .dropify-preview {
    background-color: rgba(26, 29, 33, 0.4) !important;
}

/* ## Alert Warning Anchor Style */
.alert.alert-warning a {
    color: black;
}
.alert.alert-warning a:hover {
    color: black !important;
}

.object-fit-cover {
    object-fit: cover !important;
}
