.auth-box {
  box-shadow: 0px 12px 120px rgba(0, 29, 73, 0.08);
  border-radius: 20px;
  border: 1px solid #edeff5;
  padding: 50px;
  @include breakpoint(lg) {
    padding: 30px;
  }
  @include breakpoint(xs) {
    padding: 20px;
  }
}

.full-height {
  height: 100vh;
  @include breakpoint(xxl) {
    height: auto;
    padding-top: 75px;
    padding-bottom: 35px;
  }
  @include breakpoint(lg) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @include breakpoint(xs) {
    padding-top: 0px;
  }
}
.site-header.rt-fixed-top.auth-header {
  @include breakpoint(lg) {
    position: static;
  }
}

.auth-right-sidebar {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  z-index: 89;
  width: 50%;
  @include breakpoint(xl) {
    width: 47%;
  }
  @include breakpoint(lg) {
    width: 100%;
    position: static;
    height: auto;
  }
  .sidebar-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include breakpoint(lg) {
      position: static;
    }
  }
}

.sidebar-content {
  max-width: 700px;
  padding-left: 138px;
  padding-bottom: 112px;
  @include breakpoint(xl) {
    padding-left: 70px;
  }
  @include breakpoint(lg) {
    padding-top: 112px;
  }
  @include breakpoint(xs) {
    padding-left: 30px;
  }
}

// contact box auth
.contact-auth-box {
  background: #ffffff;
  border: 1px solid #edeff5;
  box-sizing: border-box;
  box-shadow: 0px 12px 120px rgba(0, 29, 73, 0.08);
  border-radius: 12px;
  padding: 48px;
  @include breakpoint(md) {
    padding: 30px;
  }
  @include breakpoint(xs) {
    padding: 20px;
  }
  .tarea-dafault {
    textarea {
      overflow: hidden;
      resize: none;
      overflow: auto;
      height: 120px;
    }
  }
}

.login-illustration {
  padding-top: 319px;
  padding-bottom: 219px;
  @include breakpoint(xxl2) {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  @include breakpoint(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include breakpoint(md) {
    padding-bottom: 50px;
    padding-top: 0px;
  }
}

.auth-padding {
  font-size: 14px;
  padding: 11px 24px;
  font-weight: 400;
  color: var(--gray-700);
  svg{
    margin-right: 8px;
  }
}

.auth-header{
  .brand-logo{
    margin-left: 10px;
  }
}

.auth-dropdown{
  .select2-container--default .select2-selection--single {
    border-radius: 6px;
    border: 1px solid var(--gray-100);
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    color: #464D61;
}
}
