.menu-icon.gray-10{
    span {
        background: var(--gray-900);
    }
}
.height-362{
    height: 362px;
}


// final match css 
.snd{
    display: none;
}
.mnth-m{
    display: none;
}
.price-toggole{
    .fst{
        display: none;
    }
    .snd{
        display: inline-block;
    }
    .mnth-y{
        display: none;
    }
    .mnth-m{
        display: inline-block;
    }
}