.joblist-left-content {
  padding-left: 110px;
  padding-right: 50px;
  hr {
    padding: 0px;
    margin: 0px;
    margin-left: -130px;
    @include breakpoint(md) {
      margin-left: 0px;
    }
  }
  @include breakpoint(xxl) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include breakpoint(xs) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.joblist-fliter-gorup {
  min-width: 480px;
  display: flex;
  @include breakpoint(xs) {
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 100%;
  }
  .left-content {
    flex-grow: 1;
    display: flex;

    max-width: 384px;
    @include breakpoint(xs) {
      display: block;
      max-width: 100%;
    }
    .gap ~ .select2 {
      margin-right: 12px;
      @include breakpoint(xs) {
        margin-right: 0px;
        margin-bottom: 12px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .right-content {
    flex-grow: 0;
    margin-left: 16px;
    width: 88px;
    height: 48px;
    border: 1px solid var(--gray-100);
    border-radius: 6px;
    @include breakpoint(xs) {
      margin-top: 10px;
      margin-left: 0px;
    }
    nav {
      height: 100%;
    }
    .nav {
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    button,
    .nav-link {
      padding: 0px;
      background: transparent;
      height: 32px;
      width: 32px;
      border: none;
      line-height: auto;
      svg {
        path {
          fill: var(--gray-400);
        }
      }
      &.active {
        background-color: var(--gray-50);
        svg {
          path {
            fill: var(--gray-900);
          }
        }
      }
    }
  }
}

#mapid {
  height: 836px;
  width: 100%;
  z-index: 1;
  @include breakpoint(lg) {
    height: 300px;
  }
}
.sm-height {
  #mapid {
    // height: 600px; // eta fixed
    height: 500px;
    @include breakpoint(xxl) {
      height: 450px;
    }
  }
}
// sidebar
.jobsidebar {
  position: fixed;
  width: 424px;
  height: 100vh;
  left: 0;
  top: 0;
  border: 1px solid var(--gray-50);
  padding: 24px 32px;
  z-index: 999;
  background-color: #fff;
  @include rt-trs(0.1s);
  margin-left: -424px;
  @include hidden();
  @include breakpoint(xs) {
    width: 250px;
    padding: 12px 16px;
  }
  &.active {
    @include vis();
    margin-left: 0px;
  }
}
.sidebar-widget-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  @include hidden();
  @include rt-trs(0.24s);
  .close-me {
    position: absolute;
    @include hw(48px);
    background: #fff;
    left: 490px;
    cursor: pointer;
    top: 50px;
    font-size: 12px;
    border-radius: 50%;
    color: var(--gray-900);
    @include rt-trs(0.24s);
    @include hidden();
  }
  &.active {
    z-index: 679;
    @include vis();
    .close-me {
      left: 480px;
      transition-delay: 0.1s;
      @include vis();
      @include breakpoint(xs) {
        @include hw(35px);
        left: 260px;
      }
    }
  }
}

.filtertags {
  .single-tag {
    padding: 6px 6px 6px 16px;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: var(--gray-700);
    background: var(--gray-50);
    border-radius: 30px;
    font-weight: 400;
    margin-right: 12px;
    transition: all 0.4s;
    &:hover {
      background-color: #dadde6;
    }
    .close-tag {
      margin-left: 7px;
      path {
        transition: all 0.4s;
      }
    }
    &:hover .close-tag path {
      fill: var(--primary-500);
      stroke: white;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

// job widget
.sidetbar-widget {
  .form-check-input:checked ~ .form-check-label {
    color: var(--primary-500) !important ;
  }
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -32px;
    margin-right: -32px;
    li {
      position: relative;
      cursor: pointer;
      &.has-children {
        .jobwidget_tiitle {
          &::after {
            content: "\f101";
            font-family: "flaticon";
            font-size: 18px;
            position: absolute;
            right: 32px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  li.open {
    .jobwidget_tiitle {
      border-bottom: none;
    }
  }
  .sub-catagory {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      padding: 9px 32px;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        border-bottom: 1px solid var(--gray-50);
        padding-bottom: 24px;
      }
    }
  }
}
.jobwidget_tiitle,
.jobwidget_tiitle2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-900);
  padding: 24px 32px;
  position: relative;
  border-bottom: 1px solid var(--gray-50);
}

.jobwidget_tiitle2 {
  border: none;
  padding: 0px;
  margin: 0 0 18px;
}
// advanced filter

.advance-hidden-filter-menu {
  border-top: 1px solid var(--gray-50);
  margin-top: 12px;
  padding-top: 32px;
  margin-left: -33px;
  margin-right: -12px;
  padding-bottom: 20px;
  padding-left: 33px;
  @include breakpoint(xl) {
    margin-left: 0px;
  }

  display: none;
  background-color: #fff;
  hr {
    margin: 0px;
    padding: 0px;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
  > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    > li {
      flex: 0 0 20%;
      max-width: 20%;
      @include breakpoint(lg) {
        @include flex-width(33.33%);
      }
      @include breakpoint(md) {
        @include flex-width(50%);
      }
      @include breakpoint(xs) {
        @include flex-width(100%);
      }
    }
  }
  ul ul > li {
    padding-bottom: 8px;
    &:last-child {
      padding-bottom: 0px;
    }
  }
}

.jobsearchBox {
  transition: all 0.24s ease-in-out;
  &.active-adf {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 1000;
    top: 0px;
    overflow: scroll;

    height: calc(486px);
  }
}

.job-filter-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  @include hidden();
  @include rt-trs(0.24s);
  &.active {
    z-index: 679;
    @include vis();
  }
}

// flter column style two
.togglesidebr_widget {
  border: 1px solid var(--gray-50);
  border-radius: 12px;
  max-width: 420px;
  padding: {
    top: 0px;
    left: 32px;
    right: 32px;
    bottom: 0px;
  }
  ul > li {
    &:last-child {
      .jobwidget_tiitle {
        border-bottom: none !important;
      }
    }
  }
}

.max-311 {
  min-width: 311px;
  @include breakpoint(xs) {
    min-width: 100%;
  }
}
.p-32 {
  padding: 32px;
  @include breakpoint(xs) {
    padding: 16px;
  }
}
.max-536 {
  max-width: 536px;
}
.sdeibarmap {
  #mapid {
    height: 320px;
    border-radius: 12px;
  }
}
.gap-8 {
  li {
    margin-right: 8px;
    &:last-child {
      margin-right: 0px;
    }
    @include breakpoint(xl) {
      margin-bottom: 12px;
    }
  }
}

// realted jobs
.related-jobs {
  &.slick-slider {
    .single-item {
      margin-bottom: 24px;
    }
  }
}

.p-24 {
  padding: 24px;
}
// single page banner
.single-page-banner {
  position: relative;
  .pgae-bg {
    height: 312px;
    @include breakpoint(xs) {
      height: 250px;
    }
  }
  .card{
    border: 1px solid var(--gray-100)!important;
  }
  .card-body{
    padding: 40px!important;
  }
  .icon-thumb{
    @media (max-width: 460px) {
      margin-bottom: 15px;
    }
  }
  .jobcardStyle1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -80px;
    @include breakpoint(md) {
      margin: {
        left: 40px;
        right: 40px;
      }
    }
    @include breakpoint(xs) {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}

//search list fixing
.inputbox_1 {
  width: 40%;
  @include breakpoint(xl) {
    width: auto;
    flex-grow: 1;
  }
  @include breakpoint(lg) {
    width: 100%;
  }
}
.inputbox_2 {
  width: 24%;
  @include breakpoint(xl) {
    width: auto;
    flex-grow: 1;
  }
  @include breakpoint(lg) {
    width: 100%;
  }
}
.inputbox_3 {
  width: 25.7%;
  @include breakpoint(xl) {
    width: auto;
    flex-grow: 1;
  }
  @include breakpoint(lg) {
    width: 100%;
  }
}

.sidetbar-widget {
  ul li:last-child {
    ul {
      li {
        &:last-child {
          border-bottom: transparent;
        }
      }
    }
  }
}

.condition_class {
  @include breakpoint(xs) {
    .bottom-link.rt-pt-30 {
      padding-top: 15px;
    }
  }
  .icon-thumb {
    margin-bottom: 0px !important;
  }
  .iconbox-content {
    @include breakpoint(xs) {
      margin-bottom: 0px !important;
    }
  }
}

.page-bg-radius {
  border-radius: 0px 0px 8px 8px;
}

.extra-design {
  width: 120px;
  padding-left: 58px;
}
.cadidate-details-left{
  @media (min-width: 991px) {
    margin-right: 50px;
  }
}

.job-details.btn{
  font-size: 14px;
  font-weight: 400;
  padding: 9px 16px;
  svg{
    font-size: 20px;
    margin-right: 5px;
  }
}

ul.job-details-social{
    li{
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        transition: all 0.4s;
        background-color: #E7F0FA;
        &:hover{
          background-color: var(--primary-500);
        }
        &:hover path{
          fill: white;
        }
        svg{
          font-size: 20px;
        }
      }
    }
  
}