// dashboard setting acc tab
.dashboard-account-setting-item{
  &.setting-border{
    border-bottom: 1px solid var(--gray-100);
  }
  padding: 30px 0;
  &:last-child{
    border: none;
  }
  h6{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
  }
  h4{
    font-size: 18px;
    line-height: 28px;
    color: var(--gray-900);
  }
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--gray-600);
    margin-bottom: 24px;
  }
}

// dashboard contact tab

.iti{
  display: block;
}
.iti--separate-dial-code .iti__selected-flag{
  background-color: transparent;
  border: 1px solid var(--gray-50);
  padding: 0px 24px;
}

// dashboard profile date picker
#ui-datepicker-div{
  z-index: 999!important;
  box-shadow: 0px 12px 48px rgba(0, 44, 109, 0.1);
  .ui-datepicker-calendar tbody, .ui-datepicker-calendar thead {
    background: none!important;
  }
}

.ui-datepicker {
  background: #ffffff;
  border-radius: 15px;
}
.ui-datepicker-header {
  height: 60px;
  line-height: 50px;
  background: #fff;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid var(--primary-500);
  border-bottom: 2px solid var(--primary-500);
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #333333;
}
.ui-datepicker-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-900);
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 40px;
  color: var(--gray-900);
  margin-bottom: 5px;
  font-size: 16px;
  @media (max-width: 575px) {
    width: 30px;
  }
}
.ui-state-default {
  display: block;
  text-decoration: none;
  color: #333333;
  line-height: 40px;
  font-size: 16px;
}
.ui-state-default:hover {
  color: #ffffff;
  background:var(--primary-500);
  border-radius:50px;
  transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
}
.ui-state-highlight {
  color: #ffffff;
  background-color:var(--primary-500);
  border-radius:5px;
}

.ui-state-active {
  color: #ffffff;
  background-color:var(--primary-500);
  border-radius:50px;
}
.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}

.icon {
    margin-left: -30px;
    margin-top: -26px;
    position: relative;
    color: #31639c;
    font-size:20px;
}

// setting personal
.personal-profile-picture {
  &-wrap{
    margin-top: 32px;
  }
  &-item{
    padding: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    justify-content: space-between;
    @media (max-width: 767px) {
      display: block;
      text-align: center;
    }
    background: rgba(241, 242, 244, 0.6);
    &:last-child{
      margin-bottom: 0;
    }
  }
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    display: block;
  }
  &-thumb{
    width: 112px;
    height: 112px;
    display: flex;
    flex-shrink: 0;
    margin-right: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.4s;
    background-color: #C8CCD1;
    border: 1px solid transparent;
    @media (max-width: 767px) {
      margin: 0 auto 20px;
    }
    path{
      transition: all 0.4s;
      stroke: var(--gray-900);
    }
    &:hover{
      background-color: white;
      border: 1px solid var(--gray-100);
    }
    &:hover path{
      stroke: var(--primary-500);
    }
  }
  &-data{
    margin-right: 225px;
    @media (max-width: 1400px) {
      margin-right: 60px;
    }
    @media (max-width: 767px) {
      margin: 0;
    }
      h4{
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 12px;
        color: var(--gray-900);
      }
      p{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--gray-500);
      }
    }
  
  
}

input[type="file"]{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

// yse no switce

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  text-align: left;
  padding: 13px 2px 13px 63px;
  border: 1px solid var(--gray-50);
  border-radius: 6px 0 0 6px !important;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-500);
  text-transform: uppercase;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
}
.switch-label:before {
  width: 36px;
  height: 22px;
  background-color: #0A65CC;
  border-radius: 40px;
  left: 17px;
}
.switch-label:after {
  left: 22px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #C8CCD1;
}
.switch-input:checked + .switch-label:after {
  background-color: #fff;
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
.switch-input:checked + .switch-label .toggle--option {
  color: var(--danger-500);
}