
.breadcrumb-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      font-size: 14px;
      padding: 0 2px;
      display: inline-block;
      a{

        color: var(--gray-500);
      }
    }
  }
}
.breadcrumbs, .breadcrumbs-two{
  padding: 160px 0 23px;
  background-color: var(--gray-20) ;
  @media (max-width: 991px) {
    padding: 140px 0 23px;
  }
  @include rt-trs(0.24s);
  .breadcrumb-title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: var(--gray-900);
  }
  .breadcrumb-item {
    color: var(--gray-900);
    a{
      font-size: 16px;
      line-height: 24px;
      color: var(--gray-500);
    }
  }
  &.style-two{
    // @include breakpoint(lg){
    //   height: auto;
    //   padding: 50px 0;
    // }
    .jobsearchBox{
      @include breakpoint(xl){
        margin-top: 50px;
      }
      @include breakpoint(lg){
        margin:  0;
      }
      .top-content{
        height: 100%;
      }
    }
  }
}
.breadcrumb{
  margin-bottom: 0px;
}

.breadcrumbs{
  .card{
    .rt-single-icon-box{
      @include breakpoint(lg){
        display: block;
        .iconbox-content{
          margin-bottom: 15px;
        }
      }
    }
  }
}
