// .card{
//     &.catagory-box, &.post-catagory{
//         .card-body{
           
//                 .icon-72{
//                     background-color: var(--primary-50);
//                     color: var(--primary-500);
//                 }
//                 .post-img{
//                     height: 180px;
//                     width: 100%;
//                     img{
//                         object-fit: cover;
//                         width: 100%;
//                         border-radius: 8px;
//                         height: 100%;
//                     }
//                 }
//                 .iconbox-content{
//                     a{
//                         color: var(--gray-900);
//                     }
//                 }
            
//         }
//         &:hover{
//             .icon-72{
//                 background-color: var(--primary-500);
//                 color: var(--primary-50);
//             }
//             .iconbox-content{
//                 a{
//                     color: var(--primary-500);
//                 }
//             }
//         }
//     }
//     &.post-catagory{
//         .card-body{
//             padding: 24px;
//             .icon-thumb{
//                 margin-right: 0px;
//                 flex: 0 0 100%;
//                 max-width: 100%;
//                 width: 100%;
//             }
//         }
//     }
// }

.catagory-area{
    box-shadow: inset 0px -1px 0px #E4E5E8;
}
.popular-category{
    &-item{
        display: flex;
        padding: 24px;
        border-radius: 12px;
        align-items: center;
        transition: all 0.4s;
        &:hover{
            background: #FFFFFF;
            box-shadow: 0px 12px 48px rgba(0, 44, 109, 0.1);
        }
        &:hover .popular-category-icon{
            i{
                color:#FFFFFF;
            }
            background-color: var(--primary-500);
        }
        &:hover .popular-category-data{
            h4{
                color: var(--primary-500);
            }
        }
    }
    &-icon{
        width: 68px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        flex-shrink: 0;
        margin-right: 16px;
        transition: all 0.4s;
        background-color: var(--primary-50);
        i{
            font-size: 32px;
            color: var(--primary-500);
        }
    }
    &-data{
        h4{
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: var(--gray-900);
            margin-bottom: 8px;
            transition: all 0.4s;
        }
        p{
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            color: var(--gray-600);
        }
    }
}


// icon animation 
.card-icon-animation{
    .icon-thumb{
        overflow: hidden;
    }
    &:hover{
        .icon-thumb{
            i, img{
                animation: iconamimation2 0.5s forwards;
            }
        }
    }
}
.card-icon-animation2{
    .icon-thumb{
        overflow: hidden;
    }
    &:hover{
        .icon-thumb{
            i, img{
                animation: iconamimation 0.5s forwards;
            }
        }
    }
}

@keyframes iconamimation {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

@keyframes iconamimation2 {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

// most popular vacancies

.most-popular{
    &-item{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        h3{
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 8px;
            a{
                color: var(--gray-900);
                transition: all 0.4s;
                &:hover{
                    color: var(--primary-500);
                    text-decoration: underline;
                }
            }
        }
        p{
            font-size: 14px;
            color: var(--gray-500);
        }
    }
}

// employe slider css
.top-company-slider{
  .prev-arrow, 
  .next-arrow {
    width: 48px;
    height: 48px;
    background-image: url(../images/svg/arrow-left.svg);
    background-color: var(--primary-50);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    position: absolute;
    top: -90px;
    right: 82px;
    z-index: 99;
    border: none;
    @media (max-width: 575px) {
      display: none!important;
    }
  }
  .next-arrow{
    right: 16px;
    background-image: url(../images/svg/arrow-right.svg);
  }

}

  