.icon-button {
  @include iconbox(48px, 5px);
  background-color: transparent;
  font-size: 24px;
  @include rt-trs(0.24s);
  @include breakpoint(xs) {
    font-size: 16px;
    width: 30px;
    height: 30px;
  }
}

.icon-72 {
  @include iconbox(72px, 8px);
  background-color: transparent;
  font-size: 40px;
}
.icon-64 {
  @include iconbox(64px, 8px);
  background-color: transparent;
  font-size: 32px;
}
.icon-56 {
  @include iconbox(56px, 5px);
  background-color: transparent;
  font-size: 24px;
}
.icon-48 {
  @include iconbox(48px, 4px);
  background-color: transparent;
  font-size: 24px;
}
.icon-44 {
  @include iconbox(44px, 4px);
  font-size: 24px;
}
.social-icons {
  display: flex;
  li {
    display: inline-flex;
    margin-right: 12px;
    &:last-child {
      margin-right: 0px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 8px;
      border: 1px solid var(--primary-50);
      background: var(--primary-50);
      &:hover {
        background: transparent;
        border: 1px solid #0066ff;
      }
    }
  }
}

.img-group {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding-left: 15px;
  li {
    margin-left: -15px;
    border: 1px solid var(--gray-50);
  }
}
