$breakpoints: (
  "xs": 575.98px,
  "md": 767.98px,
  "lg": 991.98px,
  "xl": 1199.98px,
  "xxl": 1399.98px,
  "xxl2": 1600px,
);

@mixin breakpoint($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width ;
    }
    @media (#{$type}-width: $width) {
      @content;
    }
  }
}
